* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

*::selection {
  background-color: #00f44d; /* Replace with your desired color */
}

body {
  font-family: "Arial", sans-serif;
}

#map {
  height: 100vh;
  width: 100%;
}

/* Search container  */

.search-container {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-60%);
  z-index: 999;
  width: 80%;
  max-width: 600px;
  padding: 20px;
}

.searchInput {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  height: 60px;
  padding: 10px 40px 10px 20px;
  border: none;
  border-radius: 20px 20px 20px 20px;
  font-size: 18px;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

input:focus {
  border: 2px solid #000;
  border-radius: 20px 20px 5px 5px;
  font-size: 900;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.resultBox {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 5px;
  border: 3px solid #414141;
  border-radius: 8px 8px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: none;
  color: #fff;
  font-size: 1.5rem;
  user-select: none;
  outline: 1px solid #00f44d;
}

.searchInput.active .resultBox {
  display: block;
}

.resultBox li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.resultBox li:last-child {
  border-bottom: none;
}

.resultBox li:hover {
  background-color: #e6f0ff;
  color: #000;
}

/* Notification with animation  */
#dialog-box {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
}

.hidden-box {
  display: none;
}

.display-box {
  display: block;
}

#timer-bar {
  border-radius: 10px;
  height: 10px;
  width: 0;
  background-color: #f00; /* Change to desired color */
}

#timer-bar.animate {
  animation: fill 4s linear;
}

@keyframes fill {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* tracker button  */
.location-button-unclicked {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0.5rem;
  right: 8rem;
  z-index: 999;
  padding: 10px;
  border: none;
  border-radius: 100px;
  background-color: #4caf50; /* Green */
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.location-button-clicked {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0.5rem;
  right: 8rem;
  z-index: 999;
  padding: 10px;
  border: none;
  border-radius: 100px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background: #fe9f9f;
  box-shadow: 6px 6px 100px #664040, -6px -6px 100px #fffefe;
}
